[submodule "src/common_crawl_search_engine"]
	path = src/common_crawl_search_engine
	url = https://github.com/endomorphosis/common_crawl_search_engine
[submodule "ipfs_datasets_py"]
	path = ipfs_datasets_py
	url = https://github.com/endomorphosis/ipfs_datasets_py.git
